%h1
  TumblrPosts controller, show action
%p
  Edit this file in
  %tt
    app/views/tumblr_posts/show.html.erb

= link_to 'Edit',  url(:edit_tumblr_post,  @tumblr_post)
|
= link_to 'Back', url(:tumblr_posts)